.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 5px;
}
