img {
  max-width: 100%;
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 5px;
}
.tituloPagina {
  display: flex;
  text-align: center;
  color: yellow;
}
cite {
  color: blue;
}
